GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"replace-me","client_email":"replace-me@replace-me.iam.gserviceaccount.com","private_key":"-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"}
GOOGLE_SPREADSHEET_ID=replace-me
TURNSTILE_SECRET_KEY=replace-me
TURNSTILE_SKIP=true
